.container {
  overflow: hidden;
  position: relative;
  width: 390px;
  height: 844px;
  flex-shrink: 0;
  border-radius: 48px;
  overflow-y: auto;

}

.dashboard {
  position: relative;
  background-image: url("/src/Assets/Dashboard/dashboardBG.png");
  width: 390px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 48px;
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* No image repetition */  
}

.rounded-tile {
  position: absolute;
  background: url("/src/Assets/Dashboard/DBroundedTopTile.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 396px;
  height: 480px;
  border-top-left-radius: 100px; 
  border-top-right-radius: 100px;
  position: absolute; 
  top: 65%; 
  bottom: 0;
  left: -1%;
  right: 0;
  padding: 0;


}

.welcome {
  position: absolute;
  top: 50%;
  left: 3%;
  background: url("../Assets/Dashboard/DBwelcome.png") no-repeat center;
  display: flex;
  width: 330px;
  height: 55px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Merriweather;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 80% */
  letter-spacing: 0.1px;
}

.off-grid {
  position: absolute;
  top: 58%;
  left: -1%;
  background: url("../Assets/Dashboard/DB137dayoffgrid.png") no-repeat center;
  display: flex;
  width: 259px;
  height: 22px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
}



/* .coffee-tile {
  background: url("/src/Assets/Dashboard/DBmorningModeCoffeeTile.png") no-repeat center center;
  background-size: auto; 
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  left: 50%; 
  transform: translate(-50%, -50%); 
  height: 120px; 
  width: 189px; 
  border-radius: 80px 80px 20px 20px; 
  box-shadow: 5px 5px 8px 0px rgba(54, 70, 20, 0.10), -4px -4px 15px 0px rgba(46, 50, 40, 0.05);
} */

.coffee-button {
  background: url("/src/Assets/Dashboard/DBmorningModeCoffeeTile.png") no-repeat center center;
  position: relative;
  top: 5%;
  width: 189px; 
  height: 120px; 
  border-radius: 80px 80px var(--main-system-20-px, 20px) var(--main-system-20-px, 20px);  
  box-shadow: 5px 5px 8px rgba(54, 70, 20, 0.10), -4px -4px 15px rgba(46, 50, 40, 0.05);
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  overflow: hidden; /* Ensure nothing spills out of the border-radius */
}

.coffee-button:hover {
  box-shadow: 0 0 15px rgb(255, 172, 70); /* Add a subtle shadow on hover */
  opacity: 0.9;
}



.weather-button {
  background: url("/src/Assets/Dashboard/DBweatherTile.png") no-repeat center center;
  position: relative;
  top: 5%;
  right: 5%;
  width: 70px;
height: 70px;
border-radius: 40px var(--main-system-20-px, 20px) var(--main-system-20-px, 20px) var(--main-system-20-px, 20px);  
box-shadow: 5px 5px 8px rgba(54, 70, 20, 0.10), -4px -4px 15px rgba(46, 50, 40, 0.05); 
  border: none; 
  cursor: pointer; 
  overflow: hidden;
}

.weather-button:hover {
  box-shadow: 0 0 15px rgb(255, 172, 70); /* Add a subtle shadow on hover */
  opacity: 0.9;
}

.flag-button {
  background: url("/src/Assets/Dashboard/DBflagTile.png") no-repeat center center;
  position: relative;
  top: 5%;
  left: 5%;
  width: 70px;
height: 70px;
padding: 0px 5px;
border-radius: var(--main-system-20-px, 20px) 40px var(--main-system-20-px, 20px) var(--main-system-20-px, 20px);
box-shadow: 5px 5px 8px rgba(54, 70, 20, 0.10), -4px -4px 15px rgba(46, 50, 40, 0.05); 
border: none; 
cursor: pointer; 
overflow: hidden;
}

.flag-button:hover {
  box-shadow: 0 0 15px rgb(255, 172, 70); /* Add a subtle shadow on hover */
  opacity: 0.9;
}

.roamstead-status {
  position: absolute;
  top: 35%;
  left: 4%;
  width: 360px;
height: 118px;
flex-shrink: 0;
border-radius: var(--main-system-20-px, 20px);
background: #EAEAEA;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.05) inset;
border: 2px solid red;
}

.roamstead-status h4 {
  color: #3F462F;

/* subtitles */
font-family: Quicksand;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 141.176% */
letter-spacing: 0.1px;
}

.flag-tile {

}