/*Home component css aka the Landing page*/

.bezel-2 {
  position: relative;  /* Important for absolute positioning of children */
  background-image: url("/src/Assets/LandingPage/midnightGazelle.png");
  width: 390px;
  height: 844px;
  flex-shrink: 0;
  border-radius: 48px;
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* No image repetition */
  overflow: hidden;
}



.logo {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  background: url("../Assets/LandingPage/Logo.png") no-repeat center;
  width: 182px;
  height: 183px;
  flex-shrink: 0;
  fill: #29423A; 
}

.brand {
  position: absolute;
  top: 27%;
  left: 28%;
  background: url("../Assets/LandingPage/BrandName.png") no-repeat center;
  width: 183px;
  height: 60px;
  flex-shrink: 0;
  fill: #29423A;
}


.home-welcome {
  position: absolute;
  top: 75%;
  left: 3%;
  background: url("../Assets/LandingPage/WelcomeHome.png") no-repeat center;
  display: flex;
  width: 330px;
  height: 55px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Merriweather;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 80% */
  letter-spacing: 0.1px;
}


.sign-in-button {
  position: absolute;
  bottom: 12%;
  left: 9%;
  border: none;
  color: black;
  font-family: Quicksand;
  font-size: 16px;
  width: 304px;
  height: 48px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 2px 2px 6px #00000040, inset -1px -1px 4px #00000040, inset 1px 1px 4px #ffffff40;
  background: linear-gradient(180deg, rgb(255, 230.69, 144.5) 0%, rgb(255, 183.18, 75.44) 100%);
  margin: 8px;
  cursor: pointer;


/* Button text */
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}

.sign-in-button:hover {
  box-shadow: inset 4px 4px 8px #0000007b;
  cursor: pointer;
  transform: translateX(0%) scale(1.03); /* Slight increase in size */

}

.sign-up-button {
  position: absolute;
  bottom: 5%;
  left: 40%;
  display: flex;
  width: 90px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  background: none;
  border: none;
  transform: translateX(0%);
  transition: all 0.1s ease;

}

.sign-up-button:hover {
  cursor: pointer;
  color: #FFB74B;
  transform: translateX(0%) scale(1.05); /* Slight increase in size */

}

