/*Home component css aka the Landing page*/

.bezel-2 {
  position: relative;  /* Important for absolute positioning of children */
  background-image: url("/src/Assets/midnightGazelle.png");
  width: 390px;
  height: 844px;
  flex-shrink: 0;
  border-radius: 48px;
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* No image repetition */
  overflow: hidden;
}



.logo {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  background: url("../Assets/Logo.png") no-repeat center;
  width: 182px;
  height: 183px;
  flex-shrink: 0;
  fill: #29423A; 
}

.brand {
  position: absolute;
  top: 27%;
  left: 28%;
  background: url("../Assets/BrandName.png") no-repeat center;
  width: 183px;
  height: 60px;
  flex-shrink: 0;
  fill: #29423A;
}


.home-welcome {
  position: absolute;
  top: 75%;
  left: 3%;
  background: url("../Assets/WelcomeHome.png") no-repeat center;
  display: flex;
  width: 330px;
  height: 55px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Merriweather;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 80% */
  letter-spacing: 0.1px;
}


.sign-in-button {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);

  width: 304px;
height: 48px;
flex-shrink: 0;
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
color: var(--Dark-Green, #435A10);
border-radius: var(--main-system-10-px, 10px);
background: linear-gradient(114deg, #FFE790 6.9%, #FFB74B 85%);
box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25), -1px -1px 4px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 4px 0px rgba(255, 255, 255, 0.25) inset;
transition: all 0.1s ease;

/* Button text */
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}

.sign-in-button:hover {
  background: linear-gradient(114deg, #ffd564 6.9%, #ffad42 85%); /* Slightly different gradient */
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.35), -2px -2px 6px 0px rgba(0, 0, 0, 0.35) inset, 2px 2px 6px 0px rgba(255, 255, 255, 0.35) inset;
  transform: translateX(-50%) scale(1.05); /* Slight increase in size */
  cursor: pointer;
}

.sign-up-button {
  position: absolute;
  bottom: 5%;
  left: 40%;
  display: flex;
  width: 90px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  background: none;
  border: none;
  transform: translateX(0%);
  transition: all 0.1s ease;

}

.sign-up-button:hover {
  cursor: pointer;
  color: #FFB74B;
  transform: translateX(0%) scale(1.05); /* Slight increase in size */

}

