.logo {
  background: url("../Assets/Logo.png") no-repeat center;
   width: 182px;
  height: 183px;
  flex-shrink: 0;
  fill: #29423A; 
  margin: -11rem auto 0rem auto;
}

.brand {
  background: url("../Assets/BrandName.png") no-repeat center;
  width: 183px;
height: 60px;
flex-shrink: 0;
fill: #29423A;
margin: 0rem auto 0rem auto;

}