.roamstead-chat p {
position: absolute;
top: 61%;
  display: flex;
width: 259px;
height: 22px;
flex-direction: row;
justify-content: flex-start;
padding: 0 10px 0 10px;
flex-shrink: 0;
color: #FFF;
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.1px;
}

.button-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 50px;
  border: rebeccapurple 1px solid;
  margin: 10px;
}

.history-btn {
  width: 109px;
  height: 19px;
  display: flex;
  padding: var(--main-system-10-px, 10px) 0px;
  justify-content: center;
  align-items: center;
  border-radius: var(--main-system-10-px, 10px);
background: var(--button-gradient-light-green, linear-gradient(105deg, #748947 -3.69%, #B1CD75 175.41%));

/* tile drop shadow 1 */
box-shadow: 5px 5px 8px 0px rgba(54, 70, 20, 0.10), -4px -4px 15px 0px rgba(46, 50, 40, 0.05);
}

.new-chat-btn {
  width: 109px;
  height: 19px;
  display: flex;
  padding: var(--main-system-10-px, 10px) 0px;
  justify-content: center;
  align-items: center;
  border-radius: var(--main-system-10-px, 10px);
  background: #FFF;
  
  /* tile drop shadow 1 */
  box-shadow: 5px 5px 8px 0px rgba(54, 70, 20, 0.10), -4px -4px 15px 0px rgba(46, 50, 40, 0.05);}

.notebook-btn {
  width: 109px;
  height: 19px;
  display: flex;
  padding: var(--main-system-10-px, 10px) 0px;
  justify-content: center;
  align-items: center;
  border-radius: var(--main-system-10-px, 10px);
  background: #FFF;
  
  /* tile drop shadow 1 */
  box-shadow: 5px 5px 8px 0px rgba(54, 70, 20, 0.10), -4px -4px 15px 0px rgba(46, 50, 40, 0.05);}