.sticky-footer {
  width: 390px;
  height: 67px;
  padding: 0px 19px 10px 10px;
  z-index: 100; /* To make sure it stays above other content */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 1%;
  border-radius: 0px 0px 48px 48px  ;

}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 20px;
  width: 352px;
height: 50px;
flex-shrink: 0;
border-radius: 30px;
background: linear-gradient(223deg, #636C4E 6.86%, #3F4532 100.09%);
box-shadow: 6px 6px 10px 0px rgba(46, 50, 40, 0.20);
}

.navbar-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navbar-item:hover {
  background-color: #3F4532;
  border-radius: 30px;
}

