.tile-large-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  height: fit-content;
  width: 100%;
  margin: 10px;
}

.large-tile {
display: flex;
justify-content: center;
;
  margin: 10px;
width: 330px;
padding: 8px 23px 142px 16px;
align-items: center;
flex-shrink: 0;
border-radius: var(--main-system-20-px, 20px);
background: #FFF;

/* tile drop shadow 1 */
box-shadow: 5px 5px 8px 0px rgba(54, 70, 20, 0.10), -4px -4px 15px 0px rgba(46, 50, 40, 0.05);
}

.narrow-tile-container {
  display: flex;
justify-content: center;
align-items: flex-start;
gap: 8px;
width: 360px;
height: fit-content;
margin: 10px;
}

.narrow-tile {
  display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
  width: 176px;
height: fit-content;
border-radius: var(--main-system-20-px, 20px);
background: #FFF;
/* tile drop shadow 1 */
box-shadow: 5px 5px 8px 0px rgba(54, 70, 20, 0.10), -4px -4px 15px 0px rgba(46, 50, 40, 0.05);
}



.sml-square-tile-container {
  display: flex;
justify-content: center;
gap: 8px;
width: 360px;
height: 176px;
margin: 10px;
}

.sml-square-tile {
  display: flex;
justify-content: center;

  width: 176px;
height: 176px;
border-radius: var(--main-system-20-px, 20px);
background: #FFF;

/* tile drop shadow 1 */
box-shadow: 5px 5px 8px 0px rgba(54, 70, 20, 0.10), -4px -4px 15px 0px rgba(46, 50, 40, 0.05);
}

.extra-large-tile {
  display: flex;
  justify-content: center;
  ;
    margin: 10px;
  width: 335px;
  height: 200px;
  padding: 8px 23px 142px 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--main-system-20-px, 20px);
  background: #FFF;
  
  /* tile drop shadow 1 */
  box-shadow: 5px 5px 8px 0px rgba(54, 70, 20, 0.10), -4px -4px 15px 0px rgba(46, 50, 40, 0.05);
  }

p{
  display: flex;
  margin: 10px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.48px;
  color: #000000;
}