.power-page  {
  display: flex;
width: 390px;
height: 1805px;
padding-top: 60px;
flex-direction: column;
align-items: center;
gap: 8px;
border-radius: 40px;
background: var(--Linear-background, linear-gradient(180deg, #FFF 12.01%, #ECECEC 16.68%));
}

.power-main-img {
  display: flex;
padding-bottom: 0px;
flex-direction: column;
align-items: center;
gap: 8px;
}

