.power-page  {
  display: flex;
width: 390px;
height: 1805px;
padding-top: 60px;
flex-direction: column;
align-items: center;
gap: 8px;
border-radius: 40px;
background: var(--Linear-background, linear-gradient(180deg, #FFF 12.01%, #ECECEC 16.68%));
}

.power-main-img {
  display: flex;
padding-bottom: 0px;
flex-direction: column;
align-items: center;
gap: 8px;
}

.graph-tile {
  display: flex;
}

.graph-tile h3 {
  display: flex;
  color: var(--Dark-Green, #435A10);
  font-family: Quicksand;
}

.narrow-tile h3{
  display: flex;
  color: #435A10;
  font-family: Quicksand;
}

.narrow-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(50% - 4px);
  height: fit-content;
}
.slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 154px;
  height: fit-content;
  padding: 0px 0px 0px 0px;
}