/* CSS for iPhone container and screen */
body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  background-color: #000;
  margin: 0 auto;
  padding: 0;
}

.iphone-container {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 10px;
  width: 431px; /* Adjust dimensions to match an iPhone */
  height: 860px;
  flex-shrink: 0;
  border: 2px solid lightskyblue; /* Border simulates the iPhone frame */
  border-radius: 48px; /* Border radius for rounded corners */

  /* Additional styling for position and centering */
  background-color: #000; /* Background color for the bezel area */
}

.bezel-1 {
  width: 430px;
  height: 865px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 2px solid pink;
}

/*render content here*/
.bezel-2 {
  margin: 0 auto;
  background-image: url("/src/Assets/midnightGazelle.png");
  width: 423px;
  height: 860px;
  flex-shrink: 0;
  border-radius: 48px;
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* No image repetition */
}

.btn-1 {
  width: 4px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px 0px 0px 8px;
  border: 3px solid lightskyblue;
  z-index: 0;
  position: absolute;
  margin: 140px 0px 0px -17px;
}

.btn-2 {
  width: 4px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px 0px 0px 8px;
  border: 3px solid lightskyblue;
  z-index: 0;
  position: absolute;
  margin: 200px 0px 0px -17px;
}

.lrg-btn {
  width: 4px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 0px 8px 8px 0px;
  border: 3px solid lightskyblue;
  margin: 110px 0px 0px 435px;
}

.top-screen {
  width: 187.5px;
  height: 32px;
  border-radius: 0px 0px 24px 24px;
  background: #000;
  margin: 0 auto;
}

