/* Base button styles */
.btn {
  flex-shrink: 0;
  border-radius: 8px 0px 0px 8px;
  border: 3px solid lightskyblue;
  position: absolute;
  z-index: 0;
}

/* Adjust the .btn-1 and .btn-2 classes to only define what's different from the base .btn class */
.btn-1, .btn-2 {
  width: 4px;
  height: 40px;
  left: -10px; /* Use left/right/top/bottom with position: absolute instead of margins */
}

.btn-1 {
  top: 140px; /* Position for the first button */
}

.btn-2 {
  top: 200px; /* Position for the second button */
}

.lrg-btn {
  width: 4px;
  height: 80px;
  right: -10px; /* Align to the right side */
  top: 140px;
  border-radius: 0px 8px 8px 0px; /* Unique border-radius for the large button */
}

.iphone-container {
  position: relative; /* Important for absolute positioning of children */
  margin: 5rem auto;
  padding: 10px;
  width: 431px;
  height: 870px;
  border-radius: 48px;
  background-color: #000;
  border: 2px solid lightskyblue;
}
