.container {
  overflow: hidden;
  position: relative;
  width: 390px;
  height: 844px;
  flex-shrink: 0;
  border-radius: 48px;
  overflow-y: auto;
  background-color: #EDEDED;
}

.dashboard {
  position: absolute;
  background-image: url("/src/Assets/Dashboard/dashboardBG.png");
  width: 390px;
  height: 613px;
  top: -5%;
  flex-shrink: 0;
  border-radius: 48px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* No image repetition */  
}

.rounded-tile {
  position: absolute;
  background: url("/src/Assets/Dashboard/DBroundedTopTile.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 398px;
  min-height: 490px;
  border-top-left-radius: 100px; 
  border-top-right-radius: 100px;
  position: absolute; 
  top: 65%; 
  bottom: 0;
  left: -1%;
  right: 0;
  padding: 0;
  fill: linear-gradient(181deg, #FFF 49.92%, #EDEDED 80.94%);
  filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.25));
}

.welcome {
  position: absolute;
  top: 50%;
  left: 3%;
  background: url("../../Assets/Dashboard/DBwelcome.png") no-repeat center;
  display: flex;
  width: 330px;
  height: 55px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Merriweather;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 80% */
  letter-spacing: 0.1px;
}

.off-grid {
  position: absolute;
  top: 58%;
  left: -1%;
  background: url("../../Assets/Dashboard/DB137dayoffgrid.png") no-repeat center;
  display: flex;
  width: 259px;
  height: 22px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
}



/* .coffee-tile {
  background: url("/src/Assets/Dashboard/DBmorningModeCoffeeTile.png") no-repeat center center;
  background-size: auto; 
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  left: 50%; 
  transform: translate(-50%, -50%); 
  height: 120px; 
  width: 189px; 
  border-radius: 80px 80px 20px 20px; 
  box-shadow: 5px 5px 8px 0px rgba(54, 70, 20, 0.10), -4px -4px 15px 0px rgba(46, 50, 40, 0.05);
} */

.coffee-button {
  background: url("/src/Assets/Dashboard/DBmorningModeCoffeeTile.png") no-repeat center center;
  position: relative;
  top: 5%;
  width: 189px; 
  height: 120px; 
  border-radius: 80px 80px var(--main-system-20-px, 20px) var(--main-system-20-px, 20px);  
  box-shadow: 5px 5px 8px rgba(54, 70, 20, 0.10), -4px -4px 15px rgba(46, 50, 40, 0.05);
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  overflow: hidden; /* Ensure nothing spills out of the border-radius */
}

.coffee-button:hover {
  box-shadow: 0 0 15px rgb(255, 172, 70); /* Add a subtle shadow on hover */
  opacity: 0.9;
}



.weather-button {
  background: url("/src/Assets/Dashboard/DBweatherTile.png") no-repeat center center;
  position: relative;
  top: 5%;
  right: 5%;
  width: 70px;
height: 70px;
border-radius: 40px var(--main-system-20-px, 20px) var(--main-system-20-px, 20px) var(--main-system-20-px, 20px);  
box-shadow: 5px 5px 8px rgba(54, 70, 20, 0.10), -4px -4px 15px rgba(46, 50, 40, 0.05); 
  border: none; 
  cursor: pointer; 
  overflow: hidden;
}

.weather-button:hover {
  box-shadow: 0 0 15px rgb(255, 172, 70); /* Add a subtle shadow on hover */
  opacity: 0.9;
}

.flag-button {
  background: url("/src/Assets/Dashboard/DBflagTile.png") no-repeat center center;
  position: relative;
  top: 5%;
  left: 5%;
  width: 70px;
height: 70px;
padding: 0px 5px;
border-radius: var(--main-system-20-px, 20px) 40px var(--main-system-20-px, 20px) var(--main-system-20-px, 20px);
box-shadow: 5px 5px 8px rgba(54, 70, 20, 0.10), -4px -4px 15px rgba(46, 50, 40, 0.05); 
border: none; 
cursor: pointer; 
overflow: hidden;
}

.flag-button:hover {
  box-shadow: 0 0 15px rgb(255, 172, 70); /* Add a subtle shadow on hover */
  opacity: 0.9;
}

.roamstead-status-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  
  background: linear-gradient(#FFF, #EAEAEA);  margin: 10% 0% 0% 0%;
  width: 395px;
  min-height: 1000px;
  z-index: 0;
}

.roamstead-status-box {
 position: relative;
  margin: 0 auto;
  width: 360px;
  min-height: 118px;
  flex-shrink: 0;
  border-radius: var(--main-system-20-px, 20px);
  background: #EAEAEA;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.05) inset;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
}

.sunflower-icon {
margin: 20px;
  padding: 0px;
  background: url("/src/Assets/Dashboard/SunflowerIcon.png") no-repeat center center;
width: 26px;
height: 26px;
flex-shrink: 0;
}

.roamstead-status-box h4 {
  position: absolute;
  top: 0px;
  left: 60px;
  color: #3F462F;
  width: 225px;
  text-align: left;

/* subtitles */
font-family: 'Quicksand', sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 141.176% */
letter-spacing: 0.1px;
}

.full-update-btn {
  margin: 20px -150px 15px 0px;
  width: 113px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(105deg, #5D6945 -3.69%, #C5DE90 175.41%);color: #FFF;
  text-align: center;
  border: none;

/* Body */
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.full-update-expanded {
  padding: 10px 20px;
  margin: 10px 0px 0px 0px;
  width: 360px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 0px 0px 16px 16px;
  background: linear-gradient(105deg, #5D6945 -3.69%, #C5DE90 175.41%);
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px; /* 125% */
  text-align: left;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

/* .roamstead-status-box-expanded {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 0%;
  right: 0%;
  width: 360px;
height: 334px;
flex-shrink: 0;
border-radius: var(--main-system-20-px, 20px);
background: #EAEAEA;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.05) inset;

}

.roamstead-status-box-expanded h4 {
  color: #3F462F;
  width: 225px;
  text-align: left;

/* subtitles 
font-family: 'Quicksand', sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.1px;
} */


.full-update-btn span:hover {
  color: #ffa34e;
  cursor: pointer;
}

.close-button {
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  background: none;
  border: none;
  color: #FFF; 
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.tell-me-more {
  position: absolute;
  bottom: 10px; 
  left: 10px; 
  background: none;
  border: none;
  color: #FFF; 
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button span:hover {
  color: #ffa34e; 
}

/* system tiles */

.system-status-frame {
  width: 390px;
  height: 85px;
  margin-top: 10px;
  display: flex;
justify-content: center;
align-items: flex-start;
gap: 6px;
}

.system-status-box {
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  gap: 9px;
  border-radius: 0px 0px var(--main-system-20-px, 20px) var(--main-system-20-px, 20px);
}

.power-system-tile {
  background: url("/src/Assets/Dashboard/1powerSystemDial.png") no-repeat center center;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 85px;
  height: 85px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: none ;
  cursor: pointer;
  overflow: hidden;
  

/* tile drop shadow 1 */
  box-shadow: 5px 5px 8px 0px rgba(54, 70, 20, 0.10), -4px -4px 15px 0px rgba(46, 50, 40, 0.05);
} 

.thermal-system-tile {
  background: url("/src/Assets/Dashboard/2thermalSystemIcon.png") no-repeat center center;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 85px;
  height: 85px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: none ;
  cursor: pointer;
  overflow: hidden;
  

/* tile drop shadow 1 */
  box-shadow: 5px 5px 8px 0px rgba(54, 70, 20, 0.10), -4px -4px 15px 0px rgba(46, 50, 40, 0.05);
} 

.water-system-tile {
  background: url("/src/Assets/Dashboard/3waterSystemIcon.png") no-repeat center center;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 85px;
  height: 85px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: none ;
  cursor: pointer;
  overflow: hidden;
  

/* tile drop shadow 1 */
  box-shadow: 5px 5px 8px 0px rgba(54, 70, 20, 0.10), -4px -4px 15px 0px rgba(46, 50, 40, 0.05);
} 

.compost-system-tile {
  background: url("/src/Assets/Dashboard/4compostSystemIcon.png") no-repeat center center;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 85px;
  height: 85px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: none ;
  cursor: pointer;
  overflow: hidden;
  

/* tile drop shadow 1 */
  box-shadow: 5px 5px 8px 0px rgba(54, 70, 20, 0.10), -4px -4px 15px 0px rgba(46, 50, 40, 0.05);
} 

.dashboard-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 1%;
  width: 100%;
  height: 8%;
  border-radius: 0px 0px 48px 48px  ;
}



