.header-buttons {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.header-btn-1,
.header-btn-3 {
  width: 97px;
height: 91px;
flex-shrink: 0;
fill: #FFF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)) drop-shadow(4px 0px 10px rgba(0, 0, 0, 0.15));
}

.header-btn-2 {
  width: 161px;
height: 115px;
flex-shrink: 0;
fill: #FFF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)) drop-shadow(4px 0px 10px rgba(0, 0, 0, 0.15));
}

.header-btn-1:hover,
.header-btn-3:hover,
.header-btn-2:hover {
  cursor: pointer;
  transform: scale(1.1);
}


