.planning-container {
  display: grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* two columns with equal width */
  grid-template-rows: auto auto; /* two rows where height is determined by content */
  width: 360px;
  height: 360px;
  gap: 8px;
  margin: 20px auto
}

.rainfall-tile{
  position: relative;
  display: inline-grid;
  width: 176px;
height: 176px;
flex-shrink: 0;
border-radius: var(--main-system-20-px, 20px);
background: #FFF;

/* tile drop shadow 1 */
box-shadow: 5px 5px 8px 0px rgba(54, 70, 20, 0.10), -4px -4px 15px 0px rgba(46, 50, 40, 0.05);
}

.rainfall-tile h5 {
  margin: 10px;
  width: 149px;
  height: var(--main-system-20-px, 20px);
  flex-shrink: 0;
  color: var(--1---Primary-Color, #658229);
font-family: Quicksand;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 141.176% */
letter-spacing: 0.1px;
text-align: left;
}

.three-dots {
  position: absolute;
  right: 15px;
  top: 10px;
  background: url("/src/Assets/Dashboard/threeDots.png") no-repeat center center;
  width: 4px;
height: 22px;
flex-shrink: 0;

}

/* later change to text with img*/
.rainfall-tile-img {
  
  background: url("/src/Assets/Dashboard/RainCloud.png") no-repeat center center;
  width: 26.4px;
height: 28.931px;
flex-shrink: 0;
margin: 0px 0px 0px 10px;
padding: 0px;
border: none;
cursor: pointer;
overflow: hidden;
}

.rainfall-tile p {
  margin: 0px 0px 0px 10px;
  width: 155px;
height: 18px;
flex-shrink: 0;
color: var(--Dark-Green, #435A10);

/* Body */
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}

.zero-mm {
  position: absolute;
  top: 25%;
}

.rainfall-tile span {
  color: #435A10;

}

.zero {
  width: 61.6px;
height: 86.792px;
flex-shrink: 0;
color: var(--Dark-Green, #435A10);
text-align: center;
font-family: Quicksand;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.mm {
  width: 46.2px;
  height: 36.164px;
  flex-shrink: 0;
  color: var(--Dark-Green, #435A10);
  text-align: center;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.water-data-btn {
  width: 155px;
height: 18px;
flex-shrink: 0;
color: var(--Dark-Green, #435A10);

/* Body */
margin: 5px;
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
background-color: #FFF;

  text-align: left;
  text-decoration: underline;
  cursor: pointer;
  border: none;
}


.planning-box{
  display: inline-grid;
  background: url("/src/Assets/Dashboard/DBplanningGroup.png") no-repeat center center;
  grid-row: 1 / span 2; /* this will make it stretch across two rows */
  grid-column: 2 / span 1; /* this will make it stretch across one column */
}

.harvest-tile {
  display: inline-grid;
  background: url("/src/Assets/Dashboard/DBharvestGroup.png") no-repeat center center;
  grid-column: 1 / span 1; /* this will make it stretch across one column */
  width: 176px;
height: 176px;
flex-shrink: 0;
}
